header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 2px 4px #e2ebfc;
          box-shadow: 0px 2px 4px #e2ebfc;
}

header .navbar {
  height: 80px;
}

header .navbar-brand {
  color: #2a73dd;
  font-size: 1.8rem;
  font-weight: 600;
}

header .navbar-expand-lg .navbar-nav .nav-link {
  color: #1d365e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  margin: 0 10px;
}

header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #2a73dd;
}

header .navbar-expand-lg .navbar-nav .nav-link::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  bottom: 0;
  height: 2px;
  background: #2a73dd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .navbar-expand-lg .navbar-nav .nav-link:hover::after {
  width: 100%;
}

header .navbar .active .nav-link {
  color: #2a73dd;
}

header .navbar .active .nav-link::after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  bottom: 0;
  height: 2px;
  background: #2a73dd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner {
  min-height: 100vh;
  width: 100%;
  background-image: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */