// start variable

//color
$color-dark-1: #656774;
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$color-blue-1: #1d365e;
$color-blue-2: #2a73dd;
$color-blue-3: #c9d8f4;
$color-yellow-1: #f9d412;

//dark color
$color-dark-2: #121212;
$color-dark-3: #353536;
$color-dark-4: #212121;

$color-blue-4: #2196f3;

//font size
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 44px;

//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

//Padding
$pd-1: 25px;
$pd-2: 225px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;

//Margin
$mg-1: 30px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;

//border
$bd-1: 2px;
$bd-2: 8px;
// end variable

//  my css

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 4px $color-white-2;
  .navbar {
    height: 80px;
  }
  .navbar-brand {
    color: $color-blue-2;
    font-size: $fs-3;
    font-weight: $fw-2;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    color: $color-blue-1;
    transition: 0.3s;
    position: relative;
    margin: 0 10px;
    &:hover {
      color: $color-blue-2;
    }
    &::after {
      display: block;
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      bottom: 0;
      height: 2px;
      background: $color-blue-2;
      transition: 0.3s;
    }
    &:hover::after {
      width: 100%;
    }
  }
  .navbar .active {
    .nav-link {
      color: $color-blue-2;
      &::after {
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        bottom: 0;
        height: 2px;
        background: $color-blue-2;
        transition: 0.3s;
      }
    }
  }
}
.banner {
  min-height: 100vh;
  width: 100%;

  background-image: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
